.cadastro-container {
  display: flex;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

/* --- LADO ESQUERDO --- */
.cadastro-info {
  flex: 1;
  padding: 60px;
  background-color: #fff;
}

.logo {
  color: #4b49ac;
  margin: 0;
}

.subtitulo {
  color: #777;
  margin-top: -4px;
  margin-bottom: 30px;
}

.cadastro-info h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.cadastro-info p {
  color: #555;
  line-height: 1.5;
  margin-bottom: 25px;
}

.cadastro-info ul {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.cadastro-info li {
  margin-bottom: 8px;
  color: #333;
}

.infos{
  border: 2px solid rgba(227, 226, 245, 0.597);
  border-radius: 10px;
  padding: 10px;
}

.cadastro-img {
  width: 90%;
  border-radius: 10px;
  margin-top: 15px;
}

/* --- LADO DIREITO --- */
.cadastro-form {
  flex: 1;
  background: #fafafa;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.05);
}

.voltar-btn {
  background: none;
  border: 2px solid #4b49ac;
  color: #4b49ac;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  margin-bottom: 20px;
  transition: 0.3s;
}

.voltar-btn:hover {
  background-color: #37369d;
  color: white;
}

.cadastro-form h2 {
    color: #333;
  margin-bottom: 5px;
}

.cadastro-form p {
  color: #666;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  background-color: #ccc;
}

input:focus {
  outline: none;
  border-color: #4b49ac;
}

.termos {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #555;
}

.criar-conta {
  background-color: #4b49ac;
  color: white;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.criar-conta:hover {
  background-color: #37369d;
}

.login-link {
  margin-top: 20px;
  text-align: center;
  color: #555;
}

.login-link span {
  color: #4b49ac;
  font-weight: bold;
  cursor: pointer;
}

